.event-wrap {
    overflow: hidden;
}

.past-events-wrapper {
    .past-events {
        margin: 0 auto;
        width: 85.6%;
        padding: 116px 0 200px 0;
        .events {
            display: flex;
            flex-wrap: wrap;
            margin-top: 100px;
        }
        .event-block {
            width: 50%;
            height: 415px;
            &:nth-of-type(1) {
                background-color: rgb(61, 110, 210);
            }
            &:nth-of-type(2) {
                background-color: rgb(144, 210, 61);
            }
            &:nth-of-type(3) {
                background-color: rgb(255, 157, 0);
            }
            &:nth-of-type(4) {
                background-color: rgb(224, 101, 42);
            }
        }
    }
    .btn {
        margin-top: 92px;
        text-align: center;
        .button-default {
            background-color: $btnColor2;
        }
    }
}