.footer {
    background-color: rgb(144, 210, 61);
    color: #fff;
    padding: 40px 0;
    text-align: center;
    .wrap {
        position: relative;
        .arrow-up {
            top: 50%;
            right: -30px;
            position: absolute;
        }
        .note {
            padding-bottom: 0;
        }
    }
    .social-icons {
        .link:not(:last-of-type) img {
            margin-right: 15px;
        }
    }
}