.speakers-wrapper {
    .speakers {
        padding: 145px 0 250px 0;
    }
    .info {
        width: 572px;
    }
    .wrap {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
    }
    .speaker-block {
        background-color: rgb(144, 210, 61);
        border-radius: 10px;
        color: #fff;
        height: 300px;
        padding: 30px;
        width: calc(100%/3 - 27px);
        &:not(:nth-of-type(3n)) {
            margin: 0 40px 40px 0;
        }
        &.active {
            background-color: rgb(70, 187, 9);
        }
        &.image {
            background: none;
        }
        .name {
            @include font(45px, 900);
        }
        .title {
            @include font(18px, 500);
        }
        .divider {
            border: 2px solid;
            margin: 5px 0;
            width: 40%;
        }
        .connect {
            margin-top: 44px;
        }
    }
}