.sponsor-event {
    margin: 0 auto;
    padding: 160px 200px 0;
    text-align: center;
    .info {
        color: #fff;
    }
    .sponsors {
        display: flex;
        justify-content: space-between;
        margin-top: 42px;
        .image:last-of-type {
            margin-top: 25px;
        }
    }
    .button-default {
        background-color: $btnColor1;
        margin-top: 62px;
    }
}