$btnColor1: rgb(144, 210, 61);
$btnColor2: rgb(55, 55, 55);

@mixin font($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin placeholderColor($color) {       //although non-standardized
    ::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    ::-ms-input-placeholder {
        color: $color;
    }
    :-ms-input-placeholder {
        color: $color;
    }
    ::placeholder {
        color: $color;
    }
}

%content-width {
    width: 1030px;
    margin: 0 auto;
}

.info {
    .heading {
        @include font(50px, 900);
        color: rgb(36, 36, 36);
        margin: 32px 0;
    }
    .text {
        @include font(14px, 300);
        color: rgb(36, 36, 36);
        .strong {
            font-weight: 600;
        }
    }
}

.note {
    @include font(15px, 300);
    text-align: center;
    margin: 20px 0;
}

.button-default {
    @include font(22px, 400);
    padding: 16px;
    color: #fff;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

// -----------------------------------

html, body {
    height: 100%;
    font-family: 'Roboto', 'Sans-Serif';
}

body {
    background-color: rgb(74, 69, 75);
}

p {
    margin: 20px 0;
}

// --------------------------------------

.header-wrapper {
    background-color: rgb(74, 69, 75);
    padding-top: 45px;
    .header {
        @extend %content-width;
    }
}

.navlist {
    padding: 18px;
    & > li {
        display: inline-block;
        & > a {
            border-radius: 5px;
            color: #fff;
            padding: 10px 14px;
            @include font(15px, 100);
            text-transform: uppercase;
        }
        .first {
            padding-left: 0;
        }
        .last {
            padding-right: 0;
        }
    }
    & > li:hover{
        & > a {
            color: rgb(144, 210, 61);
        }
    }
    .hidden-li {
        display: none;
    }
}

.timer {
    border: 1px solid rgb(144, 210, 61);
    border-radius: 20px;
    color: #fff;
    font-family: 'Roboto Slab';
    margin: 0 auto;
    margin-top: 114px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 970px;
    .time-num {
        @include font(130px, 100);
    }
    .time-alpha {
        display: flex;
        justify-content: space-around;
        @include font(25px, 400);
        .days {
            margin-left: 30px;
        }
        .hours {
            margin-left: 58px;
        }
        .minutes {
            margin-left: 20px;
        }
    }
}

// --------------------------------------

.welcome-wrapper {
    background-color: #fff;
    margin-top: 230px;
    padding: 70px 0 280px 0;
    transform: skewY(-5deg);
    transform-origin: 100% 0%;
    position: relative;
    .stickers {
        top: -155px;
        left: 108px;
        position: absolute;
        transform: skewY(5deg);
        & > img {
            display: inline-block;
            position: absolute;
            right: 0;
        }
        .img1 {
            left: 0;
        }
        .img2 {
            left: 132px;
            top: -10px;
        }
        .img3 {
            left: 255px;
            top: -25px;
        }
        .img4 {
            left: 391px;
            top: -35px;
        }
        .img5 {
            left: 524px;
            top: -44px;
        }
    }
    .welcome {
        @extend %content-width;
        transform: skewY(5deg);
    }
    .about {
        position: relative;
        & > div {
            width: 51%;
        }
    }
}

.sign-up-form {
    position: absolute;
    right: 0;
    bottom: 0;
    bottom: 22px; //to make it on level with the text bottom
    width: 430px !important;
    .form {
        background-color: #fff;
        border: 1px solid rgb(219, 218, 218);
        border-bottom: 2px solid rgb(219, 218, 218);
        padding: 25px 20px;
        .note {
            color: rgb(108, 108, 108);
            margin: 0;
        }
        .form-block {
            @include placeholderColor(rgb(190, 190, 190));
            color: rgb(108, 108, 108);
            margin-bottom: 20px;
            .input {
                @include font(19px, 300);
                border: 1px solid rgb(190, 190, 190);
                border-radius: 5px;
                color: rgb(108, 108, 108);
                outline: none;
                padding: 15px 10px;
                width: 100%;
            }
            .input:focus {
                border: 1px solid rgb(144, 210, 61);
            }
            &:first-child {
                @include font(30px, 900);
                color: rgb(37, 37, 37);
                text-align: center;
            }
            &:last-child {
                margin: 0;
            }
            &:nth-last-child(2) {
                margin-top: 40px;
            }
        }
        .button-default {
            background-color: $btnColor1;
            border: 1px solid rgb(190, 190, 190);
            border-radius: 5px;
            width: 100%;
        }
    }
}

.highlights {
    display: flex;
    justify-content: space-between;
    margin-top: 136px;
    .highlight-block {
        text-align: center;
        &:nth-of-type(2) {
            margin: 0 60px;
        }
    }
    .info > .heading {
        font-size: 35px;
    }
}

.schedule {
    border-radius: 20px;
    margin-top: 96px;
    overflow: hidden;
    .schedule-table {
        color: #fff;
        margin-bottom: 40px;
        text-align: left;
        width: 100%;
        td, th {
            padding: 24px 44px;
        }
    }
    .thead {
        @include font(30px, 900);
        background-color: rgb(163, 204, 64);
    }
    .tbody {
        @include font(22px, 400);
        & > tr:nth-of-type(odd) {
            background-color: rgb(55, 55, 55);
        }
        & > tr:nth-of-type(even) {
            background-color: rgb(75, 77, 79);
        }
        img:hover {
            cursor: pointer;
        }
    }
    .align-center {
        text-align: center;
    }
    .note {
        color: rgb(36, 36, 36);
        font-size: 14px;
        padding: 0 100px;
    }
}

// ---------------------------------------------