.container-primary {
  max-width: 75.4%;
  width: 100%;
  margin: 0 auto; }

.container-secondary {
  max-width: 71%;
  width: 100%;
  margin: 0 auto; }

.skew {
  background-color: #fff;
  transform: skewY(-5deg);
  transform-origin: 100% 0%; }

.skew-reverse {
  transform: skewY(5deg);
  transform-origin: 0% 100%; }

.form {
  background-color: #fff; }
  .form .form-block {
    color: #6c6c6c;
    margin-bottom: 20px; }
    .form .form-block ::-moz-placeholder {
      opacity: 1;
      color: #bebebe;
      font-family: 'Roboto';
      font-size: 19px;
      font-weight: 300; }
    .form .form-block ::-ms-input-placeholder {
      color: #bebebe;
      font-family: 'Roboto';
      font-size: 19px;
      font-weight: 300; }
    .form .form-block :-ms-input-placeholder {
      color: #bebebe;
      font-family: 'Roboto';
      font-size: 19px;
      font-weight: 300; }
    .form .form-block ::placeholder {
      color: #bebebe;
      font-family: 'Roboto';
      font-size: 19px;
      font-weight: 300; }
    .form .form-block .input {
      font-size: 19px;
      font-weight: 300;
      border: 1px solid #bebebe;
      border-radius: 5px;
      color: #6c6c6c;
      outline: none;
      padding: 15px 10px;
      width: 100%; }
    .form .form-block .input:focus {
      border: 1px solid #90d23d; }
    .form .form-block:last-child {
      margin: 0; }
  .form .button-default {
    border-radius: 5px;
    width: 100%; }

.info .heading {
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 32px; }
.info .text {
  font-size: 14px;
  font-weight: 300; }
  .info .text p {
    padding-bottom: 20px; }
  .info .text .strong {
    font-weight: 600; }

.note {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  padding: 20px 0; }

.button-default {
  font-size: 22px;
  font-weight: 400;
  border: 0;
  border-radius: 15px;
  color: #fff;
  padding: 16px 52px; }
  .button-default:hover {
    cursor: pointer; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.header {
  padding: 45px 0 225px 0; }

.nav .nav-logo {
  margin-bottom: 30px; }

.navlist {
  padding: 18px 0; }
  .navlist > li {
    display: inline-block; }
    .navlist > li > a {
      border-radius: 5px;
      color: #fff;
      padding: 10px 14px;
      font-size: 15px;
      font-weight: 100;
      text-transform: uppercase; }
    .navlist > li .first {
      padding-left: 0; }
    .navlist > li .last {
      padding-right: 0; }
  .navlist > li:hover > a {
    color: #90d23d; }
  .navlist .hide-toggle {
    display: none; }
    .navlist .hide-toggle a {
      padding-right: 0; }

.timer {
  margin: 0 auto;
  width: 94.5%;
  margin-top: 114px !important;
  display: block;
  border: 1px solid #90d23d;
  border-radius: 20px;
  color: #fff;
  font-family: 'Roboto Slab';
  white-space: nowrap;
  padding: 20px;
  text-transform: uppercase; }
  .timer .timer-block {
    text-align: center;
    width: 25%;
    display: inline-block; }
    .timer .timer-block:not(:last-of-type) .value::after {
      content: ':';
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      right: -10px; }
  .timer .value {
    font-size: 130px;
    font-weight: 100;
    position: relative; }
  .timer .unit {
    font-size: 25px;
    font-weight: 400; }

.welcome-wrapper {
  position: relative; }
  .welcome-wrapper .welcome {
    padding: 60px 0 264px 0; }
    .welcome-wrapper .welcome .info {
      color: #242424; }
  .welcome-wrapper .stickers {
    top: -155px;
    left: 108px;
    position: absolute;
    transform: skewY(5deg); }
    .welcome-wrapper .stickers > img {
      display: inline-block;
      position: absolute;
      right: 0; }
    .welcome-wrapper .stickers .img1 {
      left: 0; }
    .welcome-wrapper .stickers .img2 {
      left: 132px;
      top: -10px; }
    .welcome-wrapper .stickers .img3 {
      left: 255px;
      top: -25px; }
    .welcome-wrapper .stickers .img4 {
      left: 391px;
      top: -35px; }
    .welcome-wrapper .stickers .img5 {
      left: 524px;
      top: -44px; }
  .welcome-wrapper .about {
    position: relative; }
    .welcome-wrapper .about > div {
      width: 51%; }
  .welcome-wrapper .text p:last-of-type {
    padding-bottom: 0; }

.sign-up-form {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 430px !important; }
  .sign-up-form .form {
    border: 1px solid #dbdada;
    border-bottom: 2px solid #dbdada;
    padding: 25px 20px; }
    .sign-up-form .form .caption {
      font-size: 30px;
      font-weight: 900;
      color: #252525;
      text-align: center; }
    .sign-up-form .form .note {
      color: #6c6c6c;
      font-size: 15px;
      padding: 0; }
    .sign-up-form .form .button-default {
      background-color: #90d23d;
      border: 1px solid #bebebe;
      margin-top: 40px; }

.highlights {
  display: flex;
  margin-top: 136px; }
  .highlights .highlight-block {
    width: calc(100%/3);
    text-align: center; }
    .highlights .highlight-block:nth-of-type(2) {
      margin: 0 60px; }
  .highlights .info > .heading {
    font-size: 30px; }

.schedule {
  margin-top: 96px; }
  .schedule .table-wrap {
    border-radius: 20px;
    margin-bottom: 40px;
    overflow: hidden; }
  .schedule .schedule-table {
    color: #fff;
    text-align: left;
    width: 100%; }
    .schedule .schedule-table td, .schedule .schedule-table th {
      padding: 24px 44px; }
  .schedule .thead {
    font-size: 30px;
    font-weight: 900;
    background-color: #a3cc40; }
  .schedule .tbody {
    font-size: 22px;
    font-weight: 400; }
    .schedule .tbody > tr:nth-of-type(odd) {
      background-color: #373737; }
    .schedule .tbody > tr:nth-of-type(even) {
      background-color: #4b4d4f; }
    .schedule .tbody img:hover {
      cursor: pointer; }
  .schedule .align-center {
    text-align: center; }
  .schedule .note {
    color: #242424;
    font-size: 14px;
    padding: 0 100px; }

.elites {
  padding: 175px 0 54px 0;
  position: relative; }
  .elites .badge {
    position: absolute;
    top: -77px;
    left: 0; }
  .elites .button-default {
    background-color: #90d23d;
    margin-top: 36px; }
  .elites .wrap {
    text-align: right;
    width: 60%; }
    .elites .wrap .info {
      color: #fff; }

.speakers-wrapper .speakers {
  padding: 145px 0 250px 0; }
.speakers-wrapper .info {
  width: 572px; }
.speakers-wrapper .wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px; }
.speakers-wrapper .speaker-block {
  background-color: #90d23d;
  border-radius: 10px;
  color: #fff;
  height: 300px;
  padding: 30px;
  width: calc(100%/3 - 27px); }
  .speakers-wrapper .speaker-block:not(:nth-of-type(3n)) {
    margin: 0 40px 40px 0; }
  .speakers-wrapper .speaker-block.active {
    background-color: #46bb09; }
  .speakers-wrapper .speaker-block.image {
    background: none; }
  .speakers-wrapper .speaker-block .name {
    font-size: 45px;
    font-weight: 900; }
  .speakers-wrapper .speaker-block .title {
    font-size: 18px;
    font-weight: 500; }
  .speakers-wrapper .speaker-block .divider {
    border: 2px solid;
    margin: 5px 0;
    width: 40%; }
  .speakers-wrapper .speaker-block .connect {
    margin-top: 44px; }

.sponsor-event {
  margin: 0 auto;
  padding: 160px 200px 0;
  text-align: center; }
  .sponsor-event .info {
    color: #fff; }
  .sponsor-event .sponsors {
    display: flex;
    justify-content: space-between;
    margin-top: 42px; }
    .sponsor-event .sponsors .image:last-of-type {
      margin-top: 25px; }
  .sponsor-event .button-default {
    background-color: #90d23d;
    margin-top: 62px; }

.event-wrap {
  overflow: hidden; }

.past-events-wrapper .past-events {
  margin: 0 auto;
  width: 85.6%;
  padding: 116px 0 200px 0; }
  .past-events-wrapper .past-events .events {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px; }
  .past-events-wrapper .past-events .event-block {
    width: 50%;
    height: 415px; }
    .past-events-wrapper .past-events .event-block:nth-of-type(1) {
      background-color: #3d6ed2; }
    .past-events-wrapper .past-events .event-block:nth-of-type(2) {
      background-color: #90d23d; }
    .past-events-wrapper .past-events .event-block:nth-of-type(3) {
      background-color: #ff9d00; }
    .past-events-wrapper .past-events .event-block:nth-of-type(4) {
      background-color: #e0652a; }
.past-events-wrapper .btn {
  margin-top: 92px;
  text-align: center; }
  .past-events-wrapper .btn .button-default {
    background-color: #373737; }

.contact {
  background-color: #000;
  background-image: url("../images/map.png");
  padding: 65px 0; }
  .contact .contact-us {
    background-color: #fff; }
    .contact .contact-us > div {
      width: 50%; }
  .contact .address {
    padding: 50px 70px;
    text-align: center; }
    .contact .address .button-default {
      background-color: #90d23d; }
  .contact .form {
    padding: 50px 70px; }
    .contact .form .textarea {
      font-family: 'Roboto';
      overflow: hidden;
      resize: none; }
    .contact .form .button-default {
      background-color: #373737; }

.footer {
  background-color: #90d23d;
  color: #fff;
  padding: 40px 0;
  text-align: center; }
  .footer .wrap {
    position: relative; }
    .footer .wrap .arrow-up {
      top: 50%;
      right: -30px;
      position: absolute; }
    .footer .wrap .note {
      padding-bottom: 0; }
  .footer .social-icons .link:not(:last-of-type) img {
    margin-right: 15px; }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .timer .timer-block .value {
    font-size: 117px; }

  .welcome-wrapper .about > div {
    width: 45%; }

  .sign-up-form {
    width: 387px !important; }

  .schedule .table-wrap {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 90%; }
  .schedule .schedule-table th, .schedule .schedule-table td {
    padding: 20px 32px; }
  .schedule .thead {
    font-size: 27px; }
  .schedule .tbody {
    font-size: 20px; }

  .elites .badge img {
    width: 318px;
    height: 321px; }

  .speakers-wrapper .speakers {
    padding: 80px 0 140px 0; }

  .past-events-wrapper .past-events {
    width: 90%; } }
@media only screen and (max-width: 1199px) {
  .container-primary {
    max-width: 90%; }

  .container-secondary {
    max-width: 90%; }

  .welcome-wrapper .stickers {
    left: 5%; }
    .welcome-wrapper .stickers .hide {
      display: none; }

  .timer {
    width: 100%; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    padding: 45px 0; }

  .nav .navlist {
    display: flex;
    justify-content: space-between; }
    .nav .navlist > li > a {
      font-weight: 400; }
  .nav > div {
    float: none; }

  .timer .value {
    font-size: 80px; }
  .timer .unit {
    font-size: 22px; }

  .welcome-wrapper .welcome {
    padding: 60px 0 100px 0; }
  .welcome-wrapper .about .info {
    width: 40%; }

  .sign-up-form {
    position: static;
    width: 48% !important; }
    .sign-up-form .form {
      padding: 20px; }
      .sign-up-form .form .button-default {
        margin-top: 10px; }
      .sign-up-form .form .note {
        font-size: 14px; }
      .sign-up-form .form .caption {
        font-size: 26px;
        padding-bottom: 10px; }

  .highlights {
    margin-top: 80px; }
    .highlights .highlight-block > img {
      height: 130px; }

  .schedule {
    margin-top: 80px; }
    .schedule .thead {
      font-size: 22px; }
    .schedule .tbody {
      font-size: 16px; }
      .schedule .tbody img {
        height: 22px;
        width: 22px; }
    .schedule .schedule-table td, .schedule .schedule-table th {
      padding: 14px 12px; }

  .elites {
    padding: 100px 0 60px 0; }
    .elites img {
      height: 180px;
      width: 180px; }

  .speakers-wrapper .speakers {
    padding: 60px 0; }
  .speakers-wrapper .speaker-block {
    height: 200px;
    padding: 20px; }
    .speakers-wrapper .speaker-block .name {
      font-size: 26px; }
    .speakers-wrapper .speaker-block .title {
      font-size: 14px; }
    .speakers-wrapper .speaker-block .connect {
      margin-top: 30px; }
      .speakers-wrapper .speaker-block .connect img {
        height: 22px;
        width: 22px; }
  .speakers-wrapper .image img {
    height: 160px;
    width: 160px; }

  .sponsor-event {
    padding: 60px 100px; }

  .past-events-wrapper .past-events {
    padding: 60px 0; }
    .past-events-wrapper .past-events .events {
      margin-top: 40px; }
    .past-events-wrapper .past-events .event-block {
      height: 300px; }
  .past-events-wrapper .btn {
    margin-top: 60px; }

  .contact {
    padding: 40px 0; }
    .contact .address, .contact .form {
      padding: 30px; }

  .footer {
    padding: 20px 0; }
    .footer .social-icons img {
      height: 30px;
      width: 30px; }
    .footer .social-icons .link:not(:last-of-type) img {
      margin-right: 8px; } }
@media only screen and (max-width: 991px) {
  .welcome-wrapper .stickers {
    display: none; }

  .timer {
    margin-top: 0 !important; }

  .elites .wrap {
    width: 85%; }

  .form .form-block {
    margin-bottom: 10px; }
    .form .form-block .input {
      font-size: 16px;
      padding: 10px; }

  .button-default {
    border-radius: 10px;
    font-size: 18px;
    padding: 10px 20px; }

  .info .heading {
    font-size: 30px;
    padding-bottom: 20px; }
  .info .text {
    font-size: 14px; }

  .note {
    font-size: 16px; }

  .skew {
    transform: none; }

  .skew-reverse {
    transform: none; }

  .container-primary {
    max-width: 90%; }

  .container-secondary {
    max-width: 90%; } }
@media only screen and (max-width: 767px) {
  .info .heading {
    font-size: 17px; }
  .info .text {
    font-size: 12px; }

  .form .form-block {
    margin-bottom: 14px; }
    .form .form-block .input {
      font-size: 12px;
      padding: 6px; }

  .note {
    font-size: 12px; }

  .button-default {
    font-size: 14px;
    padding: 8px 14px; }

  .header {
    padding: 30px 0; }

  .timer {
    display: flex;
    padding: 12px; }
    .timer .value {
      font-size: 24px; }
    .timer .timer-block:not(:last-of-type) .value::after {
      right: 0; }
    .timer .unit {
      font-size: 10px; }

  .nav .nav-logo img {
    width: 120px;
    height: 32px; }
  .nav .navlist {
    padding: 5px 0; }
    .nav .navlist li {
      display: none; }
      .nav .navlist li.hide-toggle {
        display: inline-block; }

  .welcome-wrapper .welcome {
    padding: 40px 0 80px 0; }
  .welcome-wrapper .about > div {
    float: none;
    width: 100%; }

  .sign-up-form {
    width: 85% !important;
    margin: 0 auto;
    margin-top: 40px;
    position: static; }
    .sign-up-form .form {
      padding: 12px 22px; }
      .sign-up-form .form .caption {
        font-size: 16px; }
      .sign-up-form .form .note {
        font-size: 12px; }
      .sign-up-form .form .button-default {
        margin-top: 0; }

  .highlights {
    margin-top: 40px;
    flex-wrap: wrap; }
    .highlights .highlight-block {
      margin-bottom: 20px;
      width: 100%; }
      .highlights .highlight-block:nth-of-type(2) {
        margin: 0;
        margin-bottom: 20px; }
      .highlights .highlight-block img {
        height: 120x;
        width: 120px; }

  .schedule {
    margin-top: 40px; }
    .schedule .schedule-table th, .schedule .schedule-table td {
      padding: 5px; }
    .schedule .table-wrap {
      border-radius: 5px; }
    .schedule .thead {
      font-size: 14px; }
    .schedule .tbody {
      font-size: 12px; }
      .schedule .tbody img {
        height: 14px;
        width: 14px; }
    .schedule .note {
      font-size: 12px;
      padding: 0; }

  .elites {
    padding: 80px 0 40px 0; }
    .elites .wrap {
      width: 100%; }
    .elites .badge {
      top: -35px; }
      .elites .badge img {
        height: 80px; }
    .elites .button-default {
      margin-top: 20px; }

  .speakers-wrapper .wrap {
    margin-top: 40px; }
  .speakers-wrapper .image {
    display: none; }
  .speakers-wrapper .speakers {
    padding: 40px 0; }
  .speakers-wrapper .speaker-block {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 180px;
    padding: 16px; }
    .speakers-wrapper .speaker-block:not(:nth-of-type(3n)) {
      margin: 0 auto;
      margin-bottom: 20px; }
    .speakers-wrapper .speaker-block .name {
      font-size: 22px; }
    .speakers-wrapper .speaker-block .title {
      font-size: 14px; }
    .speakers-wrapper .speaker-block .divider {
      margin: 8px 0; }
    .speakers-wrapper .speaker-block .connect img {
      height: 20px;
      width: 20px; }
  .speakers-wrapper .info {
    width: 100%; }

  .sponsor-event {
    padding: 40px 0;
    width: 100%; }
    .sponsor-event .sponsors {
      margin-top: 20px;
      flex-wrap: wrap; }
      .sponsor-event .sponsors .image {
        margin-bottom: 20px;
        width: 100%; }
    .sponsor-event .button-default {
      margin-top: 20px; }

  .past-events-wrapper .past-events {
    padding: 40px 0; }
    .past-events-wrapper .past-events .events {
      margin-top: 20px; }
    .past-events-wrapper .past-events .event-block {
      height: 100px; }
  .past-events-wrapper .btn {
    margin-top: 20px; }

  .contact {
    padding: 16px 0; }
    .contact .contact-us > div {
      float: none;
      width: 100%; }
    .contact .address, .contact .form {
      padding: 20px; }

  .footer {
    padding: 20px 0; }
    .footer .social-icons img {
      height: 22px;
      width: 22px; }
    .footer .social-icons .link:not(:last-of-type) img {
      margin-right: 4px; }
    .footer .arrow-up {
      display: none; } }
body {
  background-color: #4a454b;
  font-family: 'Roboto', 'Sans-Serif';
  height: 100%;
  width: 100%; }

a {
  text-decoration: none;
  color: #000; }

/*# sourceMappingURL=style.css.map */
